# Ignore everything
*

#Whitelist README
!README.md

# Whitelist .gitignore
!.gitignore

# Whitelist subdirectories
!*/

# Whitelist all src/ files
!/src/**

#Whitelist all game images
!/imgs/**

#Whitelist xmls
!/xmls/**

#Whitelist chess piece images
!/chesspieces/**

#Whitelist config.txt
!config.txt